html {
  scroll-behavior: smooth;
  font-family: Nanum Gothic;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 70px;
  width: 100%;
  background-color: rgba(97, 150, 248, 0.5);
  position: relative;
}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 36px;
  color: #000;
  padding: 10px 10px 10px 50px;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 26px;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 18px 20px 18px 20px;
  text-decoration: none;
  color: #efefef;
}

.nav>.nav-links>a:hover {
  background-color: rgba(97, 150, 248, 0.5);
}

.nav>#nav-check {
  display: none;
}

/* WELCOME SECTION */

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: rgba(76, 175, 80, 0.3);
}

.left {
  margin: 10%;
}

#head-img {
  margin: 5%;
  height: 60%;
  mix-blend-mode: multiply;
}

#About {
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

#About p {
  padding-top: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 15vh;
}

.about-wrapper {
  padding-left: 12%;
  padding-right: 12%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  color: black;
}

#projectwrap {
  color: black;
  padding-top: 5em;
  text-align: center;
}

.containerItem1 {
  border: solid 5px;
  border-color: rgba(76, 175, 80);
  border-radius: 2px;
  width: 20%;
  height: auto;
  display: inline-block;
  margin: 1.5em;
  background-color: rgba(76, 175, 80);
}

.containerItem2 {
  border: solid 5px;
  border-color: rgba(76, 175, 80);
  width: 20%;
  height: 20%;
  border-radius: 2px;
  display: inline-block;
  margin: 1.5em;
  background-color: rgba(76, 175, 80);
}

img.resize {
  max-width: 100%;
  max-height: 100%;
}

/* SKILLS */

#skills {
  text-align: center;
  padding-top: 4em;
  width: 100%;
  text-align: center;
  color: black;
}

.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill-img {
  width: 9rem;
  height: 9rem;
  margin: 3rem;
}

/* FOLLOW */

#follow {
  padding-top: 10%;
  text-align: center;
  padding-right: 1em;
}

#fontawesome {
  display: inline-block;
  margin: 0.5em;
  color: dimgray;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 10vh;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 20px 10px 20px 10px;
  }
  .nav>.nav-btn>label:hover {
    background-color: rgba(0, 0, 0, 0.3);
    height: 70px;
  }
  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 60px;
    left: 0px;
  }
  .nav>.nav-links>a {
    text-align: center;
    display: block;
    width: 100%;
  }
  .nav>#nav-check:not(:checked)+.nav-links {
    height: 0px;
  }
  .nav>#nav-check:checked+.nav-links {
    height: calc(52vh - 50px);
    overflow-y: auto;
  }
  #welcome-section {
    flex-direction: column;
  }
  #About {
    text-align: center;
    width: 100%;
  }
  .about-wrapper {
    padding-left: 12%;
    padding-right: 12%;
    background-color: rgba(0, 0, 0, 0.5);
    color: ivory;
    width: 100%;
  }
  #projectwrap {
    padding-top: 20%;
    text-align: center;
    position: relative;
  }
  #projectwrap>#projectContaniner>.containerItem1 {
    display: grid;
    height: 50%;
    width: 80%;
    margin-left: 10%;
  }
  #projectContaniner2>.containerItem2 {
    display: grid;
    height: 50%;
    width: 80%;
    margin-left: 10%;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.copyright>i {
  margin-right: 0.2rem;
}

@media only screen and (min-width:481px) and (max-width:767px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 20px 10px 20px 10px;
  }
  .nav>.nav-btn>label:hover {
    background-color: rgba(0, 0, 0, 0.3);
    height: 70px;
  }
  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 60px;
    left: 0px;
  }
  .nav>.nav-links>a {
    text-align: center;
    display: block;
    width: 100%;
  }
  .nav>#nav-check:not(:checked)+.nav-links {
    height: 0px;
  }
  .nav>#nav-check:checked+.nav-links {
    height: calc(50vh - 50px);
    overflow-y: auto;
    z-index: 1;
  }
  #welcome-section {
    flex-direction: column;
  }
  #About {
    text-align: center;
    width: 100%;
    height: auto;
    object-fit: contain;
    font-size: 10px;
  }
  .about-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    color: ivory;
    width: 100%;
  }
  #projectwrap {
    text-align: center;
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }
  #projectContaniner {
    display: flex;
    margin: 40px auto 0 auto;
    align-items: stretch;
  }
}
